<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhoujian.dao.TemplateMapper">
    <select id="queryTemplateList" resultType="Template">
        select * from tb_template where tisdel = 1
    </select>

    <insert id="addTemplate">
        insert into tb_template (tname,turl,tpid,ttype,tisdel) values (#{tname},#{turl},#{tpid},#{ttype},1)
    </insert>

    <update id="editTemplate">
        update tb_template set tname=#{tname},turl=#{turl},tpid=#{tpid},ttype=#{ttype},tisdel=#{tisdel} where tid=#{tid} and tisdel = 1
    </update>

    <update id="deleteTemplate">
        update tb_template set tisdel=0 where tid=#{tid} and tisdel =1
    </update>

    <select id="getTemplateById" resultType="Template">
        select * from tb_template where tid=#{tid} and tisdel=1
    </select>
</mapper>