<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhoujian.dao.UserMapper">

    
<!--    <resultMap id="BaseResultMap" type="com.zhoujian.domain.User">-->
<!--        <result column="uid" property="uid"/>-->
<!--        <result column="username" property="username"/>-->
<!--        <result column="upwd" property="upwd"/>-->
<!--        <result column="utid" property="utid"/>-->
<!--        <result column="uaccess" property="uaccess"/>-->
<!--        <result column="ustate" property="ustate"/>-->
<!--    </resultMap>-->
    
<!--    <sql id="Base_Column_List">-->
<!--        id,username,password,name-->
<!--    </sql>-->

    <select id="queryUserList" resultType="User">
        select
        *
        from tb_user where ustate = 1
    </select>

    <select id="findUserByUsername" resultType="User">
        select
        *
        from tb_user
        where username = #{username} and ustate=1
    </select>

    <select id="findUserByUid" resultType="User">
        select
        *
        from tb_user
        where uid = #{uid} and ustate=1
    </select>

    <select id="findUpwdByUsername" resultType="String">
        select
        upwd
        from tb_user
        where username=#{username} and ustate=1
    </select>

    <insert id="insertUser">
        insert into tb_user (username,upwd,utid,uaccess,ustate)
        values (#{username},#{upwd},3,"1&amp;2&amp;5&amp;6&amp;7&amp;8&amp;9&amp;3&amp;4&amp;10&amp;11&amp;13&amp;14",1)
    </insert>

    <update id="deleteUser">
        update tb_user
        set ustate=0 where uid=#{uid}
    </update>

    <update id="updateUser">
        update  tb_user
        set username=#{username},upwd=#{upwd},utid=#{utid},uaccess=#{uaccess},ustate=#{ustate}
        where uid=#{uid}
    </update>
</mapper>